@import "compass";

* {
    outline: none;
}

header, footer, aside, nav, article, section { display: block; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
   color: #806A9C;
  }
}

h1, h2, h3, h4 {
  margin: 0 0 15px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
}

form {
  input, label, textarea, .input-help {
    display: block;
    margin-bottom: 10px;
  }

  label {
    display: block;
    font-weight: bold;
    font-size: 16px;
  }

  input {
    font-family: 'Open Sans', sans-serif;
  }

  input[type=text] {
    width: 350px;
    padding: 10px 12px;
    border: solid 1px #CCC;
    font-size: 14px;
    @include border-radius(3px);
  }

  .input-help {
    font-size: 10px;
    list-style-type: none;
    padding: 0;
  }

  input[type=button], input[type=submit] {
    margin-top: 20px;
  }
}

input[type=button], input[type=submit], a.button {
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  padding: 8px 25px;
  @include border-radius(3px);
  border: none;
  background: #2A2333;
  color: #ffffff;
  cursor: pointer;

  &:hover, &:focus {
    background: #806A9C;
  }

  &.large {
    padding: 12px 25px;
    font-size: 16px;
  }

  &.small {
    padding: 2px 10px;
    font-size: 12px;
    font-weight: normal;
  }

  &.in-progress {
    background: #464646;
  }
}

#main-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  min-width: 620px;
  width: 100%;

  #inner-wrapper {
    margin: 30px 10px;
  }
}

header, section, aside {
  margin-bottom: 20px;
}

aside {
  padding: 10px 20px;
}

section {
  padding: 10px 0px;
}

header {
  margin-bottom: 30px;

  #logo {
    margin: 0;
    float: left;
    line-height: 40px;
    font-size: 30px;
  }

  #description {
    clear: both;
    padding: 0px;
    margin: 0px;
  }

  #user-nav {
    float: right;
    margin-top: 19px;

    #current-user {
      a {
        color: #000;

        &:hover {
         color: #806A9C;
        }

        &.signout {
          margin-left: 20px;

          .icon-off {
            line-height: normal;
          }
        }
      }
    }

    #sign-in-with-github {
      .icon-github {
        margin-right: 10px;
      }
    }

    #current-user-profile-image {
      width: 20px;
      float: left;
      margin-right: 8px;
      @include border-radius(3px);
    }
  }
}

#notice {
  @include border-radius(3px);
  background: #F9DF6A;
  display: none;

  &.show-notice {
    display: block;
  }
}

#link-header {
  @include border-radius(3px);
  background: #E8F0F5;

  #filter-by-tag {
    display: inline-block;
    line-height: 41px;

    .select2-container {
      margin-left: 5px;
    }
  }

  #contribute-button {
    float: right;
    margin-top: 3px;
  }
}

#links {
  #user-profile {
    margin-bottom: 25px;
    padding-left: 50px;
    line-height: 40px;

    img {
      position: absolute;
      width: 40px;
      margin-left: -50px;
      @include border-radius(3px);
    }
  }

  .link-summary {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: dashed 1px #CCC;

    &:last-child {
      border-bottom: none;
    }

    .favorite {
      float: left;
      margin-right: 10px;
      font-size: 21px;
      line-height: 21px;

      &:hover {
        cursor: pointer;
      }

      &:hover, &.is-favorite {
        color: #E9C12D;
      }
    }

    .link {
      display: block;
      margin-bottom: 10px;
      line-height: 22px;
    }

    .link-details {
      height: 28px;
      margin-left: 26px;
      line-height: 28px;

      .counts-and-submitter {
        float: right;
        font-size: 12px;

        .counts {
          float: left;

          span {
            margin-left: 10px;
          }
        }

        .submitter {
          float: left;
          margin-left: 20px;

          img {
            width: 20px;
            margin-top: 4px;
            @include border-radius(3px);
          }
        }
      }

      .tags {
        float: left;
        margin: 0px;
        padding: 0px;
        list-style-type: none;

        .tag {
          display: inline-block;
        }
      }
    }
  }
}

.pagination {
  text-align: center;

  .previous_page {
    margin-right: 5px;
  }

  .next_page {
    margin-left: 5px;
  }
}

#guidelines {
  float: right;
  width: 50%;
  padding-top: 0;

  h3 {
    margin-top: 0;
  }

  ul {
    padding-left: 20px;

    li {
      margin-bottom: 10px;
    }
  }
}

footer {
  text-align: center;
}