<section id="contribute">
  Know of a good Guide or Reference, help the community out by sharing it!
  <input type="button" id="contribute-button" class="large" value="Submit a Guide/Reference"/>
</section>

<section id="guides-and-references">
  <ol>
    <li>
      <a href="http://www.linktoreference.com/">Title of link here</a>
      <ul class="tags">
        <li><a href="/tags/" class="button small">Ruby</a></li>
        <li><a href="/tags/" class="button small">Ruby on Rails</a></li>
      </ul>
    </li>
  </ol>
</section>